$red: #DC3545;
$green: #16CA40;
$blue: #007BFF;
$yellow: #FFC107;


$black: #1C1C1C;
$white: #F8F9FA;
$dark-gray: #343A40;
$light-gray: #6C757D;

// $palette: (
//     red: #DC3545,
//     green: #16CA40,
//     blue: #007BFF,
//     yellow: #FFC107,
//     black: #1C1C1C,
//     white: #F8F9FA,
//     dark-gray: #343A40,
//     light-ray: #6C757D,
// );

$palette: (
    green: (134, 80%, 44%),
    blue: (211, 100%, 50%),
    yellow: (45, 100%, 51%),
    red: (354, 70%, 54%),
    white: (210, 17%, 98%),
    black: (0, 0%, 11%),
    light-gray: (208, 7%, 46%),
    dark-gray: (210, 10%, 23%),
);
